body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px 0 60px 0px; /* Oben 30px, unten 60px */
    box-sizing: border-box;
    max-width: 90%;
    margin: auto;
}

#title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 3rem;
    color: #333
}

#header {
    display: flex;
    justify-content: center; /* Zentriert die Überschrift */
    align-items: center;
    position: relative; /* Ermöglicht es, den Sprachumschalter absolut zu positionieren */
    width: 100%;
    padding: 5px 20px 20px 20px;
    margin: 0;
}

.language-switch-container {
    display: flex;
    right: 30px;
    position: absolute;
    padding-top: 20px;
}

.language-option {
    padding: 5px 20px;
    cursor: pointer;
    font-weight: bold;
    margin: 0;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}


/* Box für die ausgewählte Sprache */
.active {
    background-color: #0E9682;
    color: white;
}

/* Container für Layout und Tabelle mit Station-Info */
.container {
    display: flex;
    gap: 20px; /* Abstand zwischen Layout und Station-Info */
    margin-top: 20px;
}

#layout {
    flex: 5;
    background: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#station-info {
    flex: 2;
    background: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Box Style für Layout und Station-Info */
.box-style {
    border: 1px solid #ddd;
    padding: 15px;
}

/* Grid-Container für die Graphen */
.grid-container {
    display: grid;
    gap: 3px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.station:hover {
    transform: scale(1.02);
}

.station-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.station {
    padding: 10px;
    border: 5px solid #0E9682;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.station.selected {
    background-color: #0E9682;
    color: white;
}

.station-content h2 {
    margin-bottom: 0.5em; /* Vertikale Ausrichtung */
    justify-content: center;
    align-items: center;
    text-align: center;
}

.layout-title {
    text-align: left;
}

#station-title {
    text-align: left;
    margin-bottom: 5px;
}

.container h3 {
    text-align: left;
    margin-top: 5px;
    font-weight: normal;
}

button {
    padding: 10px 15px;
    background-color: transparent; /* Keine Füllung */
    color: black;
    border: 3px solid #0E9682;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
    width: 200px;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-weight: bold;
}

.button-container {
    display: flex;
    justify-content: center;
}

.objective-button {
    margin: 5px;  /* Abstand zwischen Buttons */
    display: inline-block;  /* Verhindert, dass sie sich direkt berühren */
}

.objective-button.selected {
    background-color: #0E9682;
    color: white;
}

button:hover {
    transform: scale(1.02);
}

.parameter-table {
    flex: 2;
    margin: 40px auto;
    border-collapse: collapse;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.parameter-table,
.parameter-table th,
.parameter-table td {
    border: 1px solid #e0e0e0;
}

.parameter-table th, 
.parameter-table td {
    padding: 10px;
    font-size: 16px;
    color: #555;
}

.parameter-table th {
    background-color: #0E9682;
    color: white;
}

.parameter-table td {
    background-color: #f9f9f9;
}

.cost-table {
    flex: 5;
    margin: 40px auto;
    border-collapse: collapse;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

/* Table mit Kostenübersicht */
.cost-table, 
.cost-table th, 
.cost-table td {
    border: 1px solid #e0e0e0;
}

.cost-table th, 
.cost-table td {
    padding: 15px;
    font-size: 16px;
    color: #555;
}

.cost-table th {
    background-color: #0E9682;
    color: white;
}

.cost-table td {
    background-color: #f9f9f9;
}

/* Table mit Informationen zu den einzalnen Tasks in Station-Info */
.station-info-table {
    width: 100%;
    margin-top: 25px;
    border-collapse: collapse;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.station-info-table, 
.station-info-table th, 
.station-info-table td {
    border: 1px solid #e0e0e0;
}

.station-info-table th, 
.station-info-table td {
    padding: 15px;
    font-size: 16px;
    color: #555;
}

.station-info-table th {
    background-color: #0E9682;
    color: white;
}

.station-info-table td {
    background-color: #f9f9f9;
}

.tooltip {
    position: absolute;
    background: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 6px 10px;
    font-size: 14px;
    border-radius: 4px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.graph-container {
    display: grid;
    gap: 20px;
}

#graphContainer.single-graph {
    grid-template-columns: 1fr;
    justify-items: center;
}

#graphContainer.two-graphs {
    grid-template-columns: repeat(2, 1fr); /* Zwei gleich breite Spalten */
}

#graphContainer.three-graphs {
    grid-template-columns: repeat(2, 1fr); /* Zwei Spalten */
    grid-template-rows: auto auto; /* Zwei Zeilen */
}

#graphContainer.three-graphs .graph:nth-child(3) {
    grid-column: 1 / -1; /* Der dritte Graph soll über beide Spalten gehen */
    justify-self: center;
}

/* Layout für 4 Graphen: 2x2 Grid */
#graphContainer.four-graphs {
    grid-template-columns: repeat(2, 1fr); /* Zwei Spalten */
    grid-template-rows: repeat(2, auto); /* Zwei Zeilen */
}

.graph {
    width: 100%;
    max-width: 800px;
    aspect-ratio: 2 / 1;  /* oder feste Höhe, z. B. height: 400px; */
    justify-self: center;
}

#current-status-graph {
    justify-items: center;
}
